| $("#comment-#{ @comment.id }").replaceWith("#{j render('comments/comment', comment: @comment)}");
| $('.comment-post__input').val('');
| $('#error_messages').remove();
| $("html,body").animate({scrollTop:$("#comment-#{ @comment.id }").offset().top});