| $('#follow-area-#{@user.id}').html("#{j render('users/unfollow', user: @user)}");
| $('#message-button__container').addClass('active');
| $('#followers_user_count').html("#{@user.followers.count}フォロワー");