object.mr-2
    = link_to search_users_path(id: tag_link), class: 'tag tag__label p-1', id: "tag-#{tag_link.id}", remote: true do
        | #{tag_link.name}
        / | (#{tag_link.tag_links.count}) カウント出力だがN+1問題なのでTagクラスメソッドで解消する