| $(".new-diary__date").html("ダイアリー#{current_user.diary_date}日目");
| $("#js-flash").html("#{escape_javascript(render 'shared/flash_messages', flash: flash)}");
| $("#diary-submit").attr('data-confirm','ダイアリー#{current_user.diary_date}日目を投稿します');