development:
  adapter: async
  url: <%= ENV.fetch("REDIS_URL") { "redis://redis:6379/1" } %>

test:
  adapter: async
  url: <%= ENV.fetch("REDIS_URL") { "redis://redis:6379/1" } %>

production:
  adapter: redis
  port: 6379
  url: <%= ENV['REDIS_URL'] %> #ElastiCacheã®Endpoint
  channel_prefix: diary_app_production