@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import "font-awesome-sprockets";
@import "font-awesome";

$black: #666;

body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    height: 100vh;
    background-color: #FAFAFA;
}

h2 {
    color: $black;
    -webkit-font-smoothing: antialiased;
}
.alert ul {
    padding-inline-start: 20px;
}
.card {
    text-decoration: none!important;
    &_no-shadow {
        box-shadow: none;
    }
}
.card-header {
    border: 0!important;
}
.login-visual {
    width: 100%;
    height: 130px;
    background-image: url("../images/diary-logo.png");
    &_mg-t {
        margin-top: 120px;
    }
}
label {
    margin-bottom: 0;
}
form {
    margin: 0;
}
.login-form {
    width: 340px;
    margin: 0 auto;
    &__input {
        display: block;
        border: 1px solid #DBDBDB;
        font-size: 1.2rem;
        color: rgb(116, 116, 116);
        height: 40px;
        width: 100%;
    }
    &__link-nav {
        color: #666;
        font-size: 14px;
    }
    &__link {
        margin-bottom: 10px;
    }

    a {
        font-size: 14px;
    }
}
.btn {
    &_green {
        background-color: #519233;
        color: white;
        &:hover {
            background-color: #62a344;
            color: white;
            border-color: #519233;
        }
    }
    
    &_cancell {
        background-color: rgb(160, 160, 160);
        color: #fff;
        &:hover {
            background-color: rgb(175, 175, 175);
            color: white;
        }
    }
}
.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__input {
        display: flex;
        justify-content: space-between;
    }
    &__tag {
        color: #BDBDBD;
        font-size: 14px;
        margin-left: 5px;
    }
}
.wrapper {
    margin: 0 auto;
    width: 990px;
}
.header {
    height: 80px;
    &__bg {
        background-color: #267700;
    }
    &__logo {
        width: 40px;
        height: auto;
        &_mg-r {
            margin-right: 20px;
        }
    }
    &-btn {
        border-radius: 30px;
        border-width: 0;
        background-color: #519233;
        border-color: white;
        color: white!important;
        text-align: center;
        width: 90px;
        height: 40px;
        &:hover {
            background-color: #67ac47;
            transition: .3s;
        }
        &_mg-r {
            margin-right: 20px;
        }
    }
    &__fa{
        color: white;
        &_mg-r-20 {
            margin-right: 20px;
        }
        &_mg-r-10 {
            margin-right: 10px;
        }
    }
}

.search {
    &__form {
        background-color: #519233;
        color: white;
        height: 40px;
        border: none;
        padding-left: 20px;
        &::placeholder {
            color: #c5c5c5;
        }
        &_mg-r {
            margin-right: 20px;
        }
    }
}
.diary {
    max-width: 710px;
    &__wrapper {
        max-width: 710px;
    }
    &_center {
        margin: 0 auto;
    }
    &__profile {
        text-decoration: none;
    }
    &__content {
        color: $black;
        background-image: linear-gradient(#ccc 1px, transparent 1px);
        background-size: 100% 3em;
        line-height: 3;
        padding-bottom: 1px;
        padding-top: 0;
    }
    &__link {
        cursor: pointer;
        transition: all 0.5s ease 0s;
        &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(-0.5em);
        }
    }
    &__check {
        color: #800000;
    }
    &__check-title {
        font-weight: bold;
    }
    &__comment {
        color: #62A2D5;
        -webkit-font-smoothing: antialiased;
    }
    &__dummy-img {
        display: block;
        width: 20px;
        height: 20px;
        background-color: silver;
    }
    &__comment-icon {
        margin-right: 0;
    }
    &__date {
        color: gray;
        font-size: 1.05rem;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
    &__time-ago {
        color: silver;
        font-size: .9rem;
    }
    &__mg {
        margin: 0 auto;
    }
}
.comment {
    &__wrapper {
        max-width: 710px;
        margin: 0 auto;
    }
    &__count {
        display: block;
        color: $black;
        font-size: .9rem;
    }
    &__name {
        font-size: 1rem;
        color: $black;
        &_mg {
            margin-right: 10px;
        }
    }
    &__content {
        color: $black;
    }
    &__date {
        color: gray;
        font-size: .8rem;
    }
    &__item {
        width: 100%;
    }
    &__middle {
        width: 90%;
    }
    &__info {
        display: inline-block;
        width: 100%;
        color: $black;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}
.comment-authorization {
    &__label {
        color: $black;
        font-size: .9rem;
    }
}
.comment-post {
    width: 100%;
    &__upper {
        width: 100%;
    }
    &__wrapper {
        max-width: 710px;
    }
    &__btn {
        line-height: 17px;
        font-size: .8rem;
    }
    &__edit-btn {
        width: 90px;
    }
    &__post-btn {
        width: 70px;
    }
    &__input {
        width: 100%;
        font-size: .9rem;
        line-height: 40px;
        color: $black;
        &::placeholder {
            font-size: .8rem;
        }
    }
    &__editable {
        line-height: 20px;
        font-size: 1.0rem;
        color: $black;
        // background-color: tomato;
    }
}
.comment-edit {
    width: 100%;
    &__btn {
        font-size: .8rem;
    }
    &__form {
        &_mg {
            margin: 0 0 0 auto;
        }
    }
}
.uploader {
    &__placeholder {
        background-color: silver;
        width: 50px;
        height: 50px;
    }
    &__image {
        border-bottom: silver solid 1px;
    }
    &__label {
        color: $black;
        font-size: .9rem;
    }
}
.new-diary {
    max-width: 710px;
    &_center {
        margin: 0 auto;
    }
    &__btn {
        width: 100px;
        margin: 0 0 0 auto;
    }
    &__date {
        color: $black;
        font-size: 1.0rem;
        font-weight: bold;
    }
}
.reset-btn {
    width: 100px;
    border-radius: 5px;
    font-size: .9rem;
    line-height: 40px;
    text-align: center;
    background-color: #929292;
    color: #fff;
    border-color: transparent;
    &__container {
        margin: 0 0 0 auto;
    }
    &:hover {
        text-decoration: none;
        background-color: #acacac;
        transition: .3s;
        color: #fff;
    }
    &_mg {
        margin: 0 0 0 auto;
    }
}
.image-reset {
    border: 1px solid #666!important;
    width: 110px;
    border-radius: 2px;
    font-size: .85rem;
    line-height: 25px;
    text-align: center;
    background-color: #EFEFEF;
    color: #000;
    border-color: transparent;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
        background-color: #e2e2e2;
        color: #000;
    }
    &_mg {
        margin: 0 auto;
    }
}
.userprofile {
    width: 100%;
    color: $black;
    // &__username {
    //     font-weight: bold;
    //     -webkit-font-smoothing: antialiased;
    // }
    &__label {
        width: 20%;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
    &__label-t {
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
    &__contents {
        width: 80%;
        font-size: .8rem;
    }
    &__section {
        width: 100%;
    }
    &__icons {
        width: 18.3%;
    }
    &__info {
        width: 81.7%;
    }
    &__link {
        margin: 0 0 0 auto;
        font-size: .8rem;
    }
}
.pagination {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.page-link {
    min-width: 2.3em;
    border-radius: 4em;
} 

.pagination {
    margin-top: 100px!important;
}

.fa-md {
    font-size: .95em;
}

.like-icon {
    color: #F91781;
    -webkit-font-smoothing: antialiased;
}
.unlike-icon {
    color: silver;
    -webkit-font-smoothing: antialiased;
}

.follow-btn {
    line-height: 1.0;
    background-color: #1196F0;
    border-top: 2px solid #1196F0;
    border-bottom: 2px solid #1196F0;
    border-radius: 30px;
    color: #FFF;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: #52b2f1;
        color: #FFF;
    }
}
.unfollow-btn {
    line-height: 1.0;
    width: 116px;
    background-color: #FFF;
    border: 2px solid #1196F0;
    border-radius: 30px;
    color: #1196F0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: #FFF;
        color: #52b2f1;
        border: 2px solid #52b2f1;
    }
}
.block-btn {
    line-height: 1.0;
    width: 116px;
    background-color: #E0245E;
    border: 2px solid #E0245E;
    border-radius: 30px;
    color: #FFF;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: #e73a71;
        color: #FFF;
        border: 2px solid #E0245E;
    }
}
.chat-btn {
    color: #1196F0;
    border: 1px solid #1196F0;
    border-radius: 30px;
    padding: 5px;
    width: 30px;
    height: 30px;
    &:hover {
        color: #52b2f1;
        border: 1px solid #52b2f1;
    }
}

.w-100{
    width: 100%;
}
.w-0 {
    width: 0%;
}

.d-block {
    display: block!important;
}
.d-none {
    display: none!important;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
  /* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    background-color: lightgray;
    width: 100%;
    margin-top: 100px;
    font-size: .8rem;
    @include box_sizing;
}